<p id="notice"><%= notice %></p>

<a href="<%= root_path %>" title="" class="pull-right"><span class="glyphicon glyphicon-remove back-button" aria-hidden="true"></span></a>


<div class="row">
  <h2 class="form-group col-sm-6 col-sm-offset-3">Edit landmark!</h2>
</div>

<%= render "form" %>

<div class="row">
  <div class="form-group col-sm-6 col-sm-offset-3">
      <%= link_to "Delete", landmark_path, method: :delete, data: { confirm: "Are you sure you want to delete this landmark?"} , class: "btn btn-danger"%>
  </div>
</div>
