<p id="notice"><%= notice %></p>

<h1>Edit landmark!</h1>

<%= render "form" %>

<%= link_to "Delete", landmark_path, method: :delete, data: { confirm: "Are you sure you want to delete this landmark?"} %> |

<%= link_to "Back to the list!", root_path %>
