<p id="notice"><%= notice %></p>

<a href="<%= tours_path %>" title="" class="pull-right"><span class="glyphicon glyphicon-remove back-button" aria-hidden="true"></span></a>

<div class="row">
  <h2 class="form-group col-sm-6 col-sm-offset-3">Create a tour</h2>
</div>

<%= render "form" %>

