// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tour {
  height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

.tour .thumbnail {
  height: 100%;
}

.tour .row {
  margin-right: 0px;
  margin-left: 0px;
}

.tour a {
  text-decoration: none;
}

.tour img {

}

.tour .landmark {
  margin-bottom: 20px;
}
